@charset "utf-8";
@import "normalize";

html {
  min-height: 100%;
}

body {
  text-align: center;
  font-family: 300 "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background-image: url(../images/bg.jpg);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
}

.welcome {
  margin: 0 auto;
  padding: 50px 0 0 0;
  width: 1024px;
  max-width: 100%;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;


  img {
    display: inline-block;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
}

footer {
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 6em;
  font-weight: 400;
  margin-top: 1em;
}

a {
  color: white;
}

a.btn {
  display: inline-block;
  padding: 0.75em 0.7em;
  margin: 0 0.5rem;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  transition: color 0.1s linear;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    transition: all 0.15s linear;
  }
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
