@charset "utf-8";
@import "normalize";

html {
  min-height: 100%;
}

body {
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-image: url('../images/bg.svg');
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
}

.welcome {
  margin: 0 auto;
  padding-top: 50px;
  width: 1024px;
  max-width: 100%;

  img {
    display: inline-block;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
}

footer {
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6em;
  font-weight: 400;
  margin-top: 1em;
}

a {
  color: #fff;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: #fff;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: #fff;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
