---
title: DevOps NRW
---

<div class="welcome">
  <img src="images/logo.png">
  <p class="intro">
    We're a bunch of Software and Systems Engineers with varying degrees of
    experience. We started off as the Ansible Meetup Düsseldorf, but after almost a
    year of talking about Ansible, we've been broadening our scope.
  </p>

  <h2>Meetup</h2>
  <p>
    Our regular events are announced and RSVP'd on the Meetup platform.
  </p>
  <a class="btn" href="https://www.meetup.com/de-DE/devops-duesseldorf/">Join us on Meetup</a>

  <h2>Slack</h2>
  <p>
    For communication outside the events we provide a
    <a href="https://infrastructurenrw.slack.com/">Slack Workspace</a>.
  </p>
  <a class="btn" href="https://infrastructure.invision.de">Join us on Slack</a>
</div>

<footer>
  <a href="https://github.com/devops-nrw/homepage">Improve this site!</a>
</footer>
