---
title: DevOps NRW
---

<div class="welcome">
  <img src="images/logo.png">
  <p>
    <a class="btn" href="https://www.meetup.com/de-DE/devops-duesseldorf/">Join us on Meetup</a>
    <a class="btn" href="https://infrastructure.invision.de">Join us on Slack</a>
    <a class="btn" href="https://forum.devops.nrw/">Visit our Forum</a>
  </p>
</div>

<footer>
  <a href="https://github.com/devops-nrw/homepage">Improve this site!</a>
</footer>
